<a href="https://colab.research.google.com/github/FestusCJ/Data-Analytics-Projects/blob/master/Festus_FutureLearn_VariableValuesTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://assets.futurelearn.com/packs/app/assets/images/fl_logo-f9d7f37a61915a2fbf8a26cbb285fed0.svg"/>

# Get ready for a Masters in Data Science and Artificial Intelligence

The following notebook is intended for use after reading the step listed below.

The following tasks are designed to test your knowledge on what we have learned during the current step, make sure to read each section carefully and then edit the code cells to fit the requirements. 

You are encouraged to ask other students for peer feedback from the tutorials, this provides valuable insight and can show you different methods to complete the same task.

Try to complete the tasks by yourself, but if you would like some help you can either:
- Look back at the content for this step on Future Learn.
- Ask another student how they completed the task.
- Use Google to your advantage!

# Operators
Just to remind you, here's the table of Operators from the previous step!

| **Operator** | **Name** |
| :---:|:---:|
|+|Addition|
|-|Subtraction|
|*|Multiplication|
|/|Division|
|%|Modulus|
|**|Exponentiation|
|//|Floor Division|

# Step 1-13 Task - Variables

### Task 1
For each of the variables, store an appropriate value for their name. 
The `IntegerVariable` has been done for you and stores a whole number of `1586`, now do the same for the other Data Types!

In [1]:
IntegerVariable = 1586

FloatVariable = -95.76

BooleanVariable_WorkingOnJupyterNotebook = True

StringVariable = "Documenting my DSAI Journey here!"

### Task 2
Perform the following Operations on the Variables below, the first one has been done for you!

1. Add 56 to the first Variable
2. Multiply the second Variable by 12
3. Subtract 10 from the third Variable
4. Make the fourth variable equal to the First and Second Variables added together.

In [2]:
FirstVariable = 44
SecondVariable = 10
ThirdVariable = 110
FourthVariable = 0

#Your code goes below here!
FirstVariable = FirstVariable + 56
SecondVariable = SecondVariable * 12
ThirdVariable = ThirdVariable - 10
FourthVariable = FirstVariable + SecondVariable

### Task 3
For this task you will do the following:
- Add together the variables to produce and get the program to `print()` the message: `"I am programming in Python!"`
- Do not add any extra variables or change any existing ones.

When you are done, Run the cell to see if it works!

In [3]:
StringA = "I am programming "
StringB = "in Python"
StringC = "!"


PrintMessage = StringA + StringB + StringC #<< Your code goes before this comment!

print(PrintMessage)

I am programming in Python!

### Task 4
For this task you will do the following:
- Declare an Array with 6 Names like the one we used as an example in this step!

When you are done, Run the cell to see if it works!

In [5]:
#Your code goes below here!
CountryList = ["USA", "Canada", "UK", "Germany", "France", "Russia"]

print(CountryList)

['USA', 'Canada', 'UK', 'Germany', 'France', 'Russia']

### Task 5
For this task you will do the following:
- Set the given variables to their appropriate value e.g. Set `FirstNameInList` to the first name in `NameList` 
- Do not just copy/write out the names from the list, you should use indexing to extract the names from the list.

*Hint: Remember Array indexes start at 0!*

In [6]:
NameList = ["Brian", "David", "William", "Joshua", "Danny"]

#Fill in the following:
FirstNameInList = NameList[0]
ThirdNameInList = NameList[2]
LastNameInList = NameList[-1]
SecondToLastNameInList = NameList[-2]

# Answers
The answers to the above tasks are listed below this cell, before looking down here, make sure you've had a real good try at the tasks above!
```









































```

### Task 1
For each of the variables, store an appropriate value for their name. 
The `IntegerVariable` has been done for you and stores a whole number of `1586`, now do the same for the other Data Types!

In [ ]:
IntegerVariable = 1586

FloatVariable = 12.256

BooleanVariable = False

StringVariable = "Hello!"

### Task 2
Perform the following Operations on the Variables below, the first one has been done for you!

1. Add 56 to the first Variable
2. Multiply the second Variable by 12
3. Subtract 10 from the third Variable
4. Make the fourth variable equal to the First and Second Variables added together.

In [ ]:
FirstVariable = 44
SecondVariable = 10
ThirdVariable = 110
FourthVariable = 0

#Your code goes below here!
FirstVariable = FirstVariable + 56
SecondVariable = SecondVariable * 12
ThirdVariable = ThirdVariable - 10
FourthVariable = FirstVariable + SecondVariable

### Task 3
For this task you will do the following:
- Add together the variables to produce and get the program to `print()` the message: `"I am programming in Python!"`
- Do not add any extra variables or change any existing ones.

When you are done, Run the cell to see if it works!

In [ ]:
StringA = "I am programming "
StringB = "in Python"
StringC = "!"


PrintMessage = StringA + StringB + StringC   #<< Your code goes before this comment!

print(PrintMessage)

### Task 4
For this task you will do the following:
- Declare an Array with 6 Names like the one we used as an example in this step!

When you are done, Run the cell to see if it works!

In [ ]:
#Your code goes below here!
NameList = ["Brian", "David", "William", "Joshua", "Danny", "Daniel"]

### Task 5
For this task you will do the following:
- Set the given variables to their appropriate value e.g. Set `FirstNameInList` to the first name in `NameList` 
- Do not just copy/write out the names from the list, you should use indexing to extract the names from the list.

*Hint: Remember Array indexes start at 0!*

In [ ]:
NameList = ["Brian", "David", "William", "Joshua", "Danny"]

#Fill in the following:
FirstNameInList = NameList[0]
ThirdNameInList = NameList[2]
LastNameInList = NameList[-1]
SecondToLastNameInList = NameList[-2]