<a href="https://colab.research.google.com/github/FestusCJ/Data-Analytics-Projects/blob/master/Festus_Pandas%26NumpyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing files from a url link
import pandas as pd
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/fifa/fifa_countries_audience.csv"
my_data = pd.read_csv(url)
my_data

           country confederation  ...  tv_audience_share  gdp_weighted_share
0    United States      CONCACAF  ...                4.3                11.3
1            Japan           AFC  ...                4.9                 9.1
2            China           AFC  ...               14.8                 7.3
3          Germany          UEFA  ...                2.9                 6.3
4           Brazil      CONMEBOL  ...                7.1                 5.4
..             ...           ...  ...                ...                 ...
186          Tonga           OFC  ...                0.0                 0.0
187        Liberia           CAF  ...                0.0                 0.0
188          Palau           OFC  ...                0.0                 0.0
189          Nauru           OFC  ...                0.0                 0.0
190           Niue           OFC  ...                0.0                 0.0

[191 rows x 5 columns]

In [3]:
#performing operations using numpy library
import numpy as np
my_rolls = np.random.randint(low = 1, high = 7, size = 60)
print(my_rolls)

[3 4 3 2 5 4 6 1 4 1 6 4 5 1 2 3 6 2 1 6 4 5 6 5 5 2 3 6 2 1 1 4 1 6 3 5 2
 3 6 2 1 3 1 5 5 4 2 5 1 2 4 4 6 6 6 5 4 6 2 3]

In [6]:
#Summary statistics
my_average = np.mean(my_rolls)
my_max = np.max(my_rolls)
my_min = np.min(my_rolls)
sorted_rolls = np.sort(my_rolls)

print("The average of this dataset is", my_average)
print("The maximum number in this dataset is", my_max)
print("The minimum number in this dataset is",my_min)
print(sorted_rolls)

The average of this dataset is 3.6
The maximum number in this dataset is 6
The minimum number in this dataset is 1
[1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4
 4 5 5 5 5 5 5 5 5 5 5 6 6 6 6 6 6 6 6 6 6 6 6]

In [7]:
#unique values and comparison
myrollsA = np.random.randint(low=1, high=7, size=60)
print(myrollsA)
myrollsB = np.random.randint(low=1, high=7, size=60)
print(myrollsB)

mysum_win  = np.sum(myrollsA > myrollsB)
mysum_loss = np.sum(myrollsA < myrollsB)
mysum_draw = np.sum(myrollsA == myrollsB)
print(mysum_win)
print(mysum_loss)
print(mysum_draw)

[1 4 3 2 1 5 3 4 5 3 2 1 3 5 3 4 5 2 4 1 1 1 6 4 1 3 1 4 5 4 6 5 5 2 3 1 1
 5 1 2 2 1 1 4 2 5 1 5 1 4 2 1 5 3 5 1 4 5 4 2]
[6 2 1 5 1 4 2 2 3 5 6 1 2 5 1 5 3 1 3 5 5 5 6 3 4 1 4 3 1 6 1 4 2 3 4 4 4
 5 3 5 3 3 1 2 6 4 2 2 3 6 6 2 4 3 1 1 1 6 5 4]
24
28
8